doctype html
html
  head
    title= title
    link(rel="icon" type="image/png" href="/images/logo.png")
    //link(rel='stylesheet', href='/stylesheets/estilo.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js")  
  body(ng-app="myApp"  ng-controller="namesCtrl")
    block content
    script(type='text/javascript' src='/javascripts/accordion.js')
