section.col-sm-11.col-lg-8.top      
  for hotel in hoteles.slice(0, 10)
    .sect-two.shadow
      .row
        section.col-xs-10.col-lg-4
          img.img-hotel(src="images/hotels/"+hotel.image)
        section.section-center.col-sm-12.col-lg-5
          .tit-menu.tit-hotel=hotel.name
          .span
          p.p-space
          - for (var i = 0; i < hotel.stars; ++i) {
            object.svg-start.size-svg-tit(data="icons/filters/star.svg" type="image/svg+xml")
            span
          - }
          p.p-space
          - for (var i = 0; i < hotel.amenities.length; ++i) {
              object.svg-start.sizeAmenities(data="icons/amenities/"+hotel.amenities[i]+".svg" type="image/svg+xml")
              .tooltip
                span.tooltiptext=hotel.amenities[i]
              span 
              span
          - }
          p
        section.border-dashed.col-lg-3.price-section.d-none.d-lg-block
          .price-section
            .info-two
              .small-txt.grey-txt
                p=priceBy
                p=room
              .price
                p.orange-txt.currency-txt.v-align-m=coin
                  span.big-text.orange-txt.bold.price-number #{hotel.price}
              .cont
                a(href="")
                  .btn.blue-background-two.big=viewHotel
        section.col-lg-8.price-resp.price-section.d-lg-none
          .info-two.border-dashed-resp
            .small-txt.grey-txt
              p=priceBy
              p=room
            .price
              p.orange-txt.currency-txt.v-align-m=coin
                span.big-text.orange-txt.bold.price-number #{hotel.price}
            .cont
              a(href="")
                .btn.blue-background-two.big.btn-resp.big-text=viewHotel
