.menu.shadow.col-sm-12.col-lg-3.d-none.d-lg-block.alt-menu.top
  section.section-sep.section-menu
    .section-tit
      .tit-menu-one=titMenu
  .accordion.js-accordion
    .accordion__item.js-accordion-item
      .accordion-header.js-accordion-header
        object.size-svg-tit(data="icons/filters/search.svg" type="image/svg+xml" fill="#6084a7")
        span 
        span.tit-menu=titMenuOne
      .accordion-body.js-accordion-body
        .accordion-body__contents
          form(action='/filter'  method='POST')
            .row.cont-menu
              .col-lg-8.search-cont
                input.search#txtsearch(placeholder="Ingrese el nombre del hotel" , ng-model='test', name="txtsearch")
              .col-lg-4.sect-btn
                input.btn.blue-background-two.sep-btn.margin-btn(type="submit" value="Aceptar" , ng-model='test')
  section.section-sep.section-menu
  .accordion.js-accordion.shadow
    .accordion__item.js-accordion-item
      .accordion-header.js-accordion-header
        object.size-svg-tit(data="icons/filters/star.svg" type="image/svg+xml" fill="#6084a7")
        span 
        span.tit-menu=stars
      .accordion-body.js-accordion-body
        .accordion-body__contents 

          form(action='/stars'  method='POST')
            .check
              input(type="checkbox" name="stars" checked value="all")
              span 
              span.small-txt.grey-txt.bold=allStars
            each val in [5, 4, 3, 2, 1]
              .check
                input(type="checkbox" name="stars" value=val onclick="stars()")
                span 
                span
                - for (var i = 0; i < val; ++i) {
                  object.sizeIcons(data="icons/filters/star.svg" type="image/svg+xml")
                  span  
                -}
      section.section-sep.section-menu
include menu-responsive.pug
