.menu.shadow.col-sm-12.col-lg-3.d-lg-none
  section.section-sep.section-menu
  .accordion.js-accordion
    .accordion__item.js-accordion-item
      .accordion-header.js-accordion-header.acc-padding.tit-resp-m
        .center
          span.tit-menu=titMenuResp
          
      .accordion-body.js-accordion-body
        .accordion.js-accordion
          .accordion__item.js-accordion-item.margin-left
            .accordion-header.js-accordion-header
              object.size-svg-tit(data="icons/filters/search.svg" type="image/svg+xml" fill="#6084a7")
              span.tit-menu=titMenuOne
            .accordion-body.js-accordion-body
              .accordion-body__contents
                form(action='/filter'  method='POST')
                  .row.cont-menu
                    .col-lg-8.center.p-space
                      input.search#inputFilter.big-text.search-resp(placeholder="Ingrese el nombre del hotel" name="txtsearch")
                    .col-lg-4.sect-btn.p-space
                      .cont.top
                        input.btn.blue-background-two.sep-btn.bold.margin-btn.big-text.big.btn-resp(type="submit" value="Aceptar" , ng-model='test')
        section.section-sep.section-menu
        .accordion.js-accordion.shadow
          .accordion__item.js-accordion-item
            .accordion-header.js-accordion-header.margin-left
              object.size-svg-tit(data="icons/filters/star.svg" type="image/svg+xml" fill="#6084a7")
              span.tit-menu=stars
            .accordion-body.js-accordion-body.margin-left
              .accordion-body__contents
                form
                  .check
                    input(type="checkbox" name="estrellas")
                    span.small-txt.grey-txt.bold=allStars
                  each val in [5, 4, 3, 2, 1]
                    .check
                      input(type="checkbox" name="estrellas" value=val onclick="stars()")
                      span
                      - for (var i = 0; i < val; ++i) {
                        object.size-svg-tit(data="icons/filters/star.svg" type="image/svg+xml")
                        span  
                      -}
            section.section-sep.section-menu
