header.blue-background.top-nav.col-sm-12.d-none.d-md-block.line-bottom-nav.nav-resp
  a(href="https://almundo.com.ar")
    img.logo(src="images/logo-almundo.svg")
header.blue-background.col-sm-12.d-md-none.top-nav
  a(href="https://almundo.com.ar")
    img.logo-resp(src="images/logo-almundo.svg")
