//colores
grey-one = #cccccc
grey-two = #757575
grey_three = #555
grey_four = #777777
white-one = #f4f4f4
blue_one = #00B7FF
blue_two = #6084a7
blue_three = #093b7b
blue_four = #157ab1
orange_one = #df6800
//tamaño fuentes
txt = 1.9vh !important
titTxt = 2.2vh !important
titMenu =1.9vh !important
smallTxt = 1.5vh !important
currTxt = 3vh !important
bigTxt = 2.4vh !important
TxtXL = 3.4vh !important
.tit-hotel
  font-size: titTxt
.big-text
  font-size: bigTxt
.price-number
  font-size: TxtXL
//
body {
  font-size: 2.6vh
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
//texto
.tit-menu
  color: blue_four
  font-size: titMenu
  font-weight:600
.bold
  font-weight:bold
.small-txt
  font-size: smallTxt
.currency-txt
  font-size: currTxt
.grey-txt
  color: grey_three
.orange-txt
  color: orange_one


.tit-menu-one
  color: #464646
  font-weight: bold
  font-size: txt
  padding-top:10px
//etiquetas
body
  font-family:verdana
  font-size: txt
  background: white-one
::placeholder
  color: grey-two
p
  margin-bottom:0px
a
  color: blue-one
object
  width:12px
  height:12px
  vertical-align: middle
//alineaciones
.row
  margin:0px
.top
  margin-top:10px
.center
  text-align:center
.p-space
  margin-bottom:5px
.v-align-m
  vertical-align: middle !important
.flex
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding:30px
//botones
.btn.focus, .btn:focus, .btn:hover
    color:white
.margin-btn
    margin-left: 10px;
.margin-left
  margin-left: 5vw;
  margin-right: 5vw

//ocultar
.hide
  display:none !important
//icons
.logo-resp
  height:4.5vh
.sizeIcons
  width:2vh
  height:2vh
.sizeAmenities
  width:2.7vh
  height:2.7vh
.size-svg-tit
  width:2.3vh
  height:2.3vh
.logo
  height:49px
.search-resp
  width:85vw !important
.search
  padding:5px
  border: 1px solid grey-one
  border-top-color: grey_four
  border-radius: 3px
.search-cont
  padding-right:0px
  padding-left:0px
//imágenes
img.img-hotel
    width: 100%
    height: auto
//secciones

.acc-padding
  padding:10px !important
.btn-resp
  width:85vw !important
.pad-top-sec-center
  padding-top:10px
.sect-btn
  //padding-left:0px
  //padding-right:0px
.price-section
  display: flex
  margin: auto
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align:center
.col-xs-11
  & .sect-two
    & .row
      height: 90vh
.menu
  padding-bottom:0px

  background:white
  padding:0px
.alt-menu
  height:150px
.cont-menu
  padding-bottom:10px
.price
  font-size: TxtXL
  padding: 10px 0px
  vertical-align:middle
.nav-resp
  padding: 1.6vh !important
.sect-two
  padding: 10px
  margin-bottom:20px !important
  background: white
.check
  padding:5px 0px
.section-tit
  padding-bottom: 10px;
.line-bottom-nav
  border-bottom: 2px solid blue_two
.top-nav
  padding:11px
.price-resp
  height: 35vh;
.nav
  height: 160px
  width:100vw

.section-sep
  border-bottom: 3px solid white-one
.container
  display: grid
  grid-template-columns: auto auto auto
  grid-gap: 20px

.cont
  animation: bounceInUp 1s ease both;
  display:flex
  justify-content:center
  align-items:top
.section-menu
  padding: 0px 15px
.section-center
  padding-bottom:20px

//fondos
.blue-background
  background: blue_three
.blue-background-two
  background:#002c77
//bordes
.border-dashed
  height: 200px
  border-left: 1px dashed grey-one
  display: flex;
  align-items: center;
  justify-content: center;
.border-dashed-resp
  margin: 12px
  padding-top:20px
  border-top: 0.1em dashed grey-one
//botones
.btn
  color:white
  padding:4px
  text-align:center
  border-radius:3px
  border:none
  border-bottom: 2px solid #00163c
.big
  font-weight:bold
  width:150px
  font-size:16px
  padding:10px 0px
//sombras
.shadow
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
//tooltip
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
//bounceInUp
@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

//accordion
@font-face {
    font-family: "IonIcons";
    src: url(../fonts/ionicons.ttf) format("truetype");
}
.accordion {
  font-size: 1rem;
  margin: 0 auto;
  border-radius: 5px;
}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
  padding: 1em 1em;

  transition: all .3s;
}

.accordion-header:hover {
  position: relative;
  z-index: 5;
}

.accordion-body {
  color: #3f3c3c;
  display: none;
}

.accordion-body__contents {
  padding: 0em 1.5em;
  font-size: .85em;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item > .accordion-header:after {
  content: "\f35f";
  color: blue_four;
  font-family: IonIcons;
  font-size: 20px;
  margin-top:-4px;
  float: right;
  position: relative;
  transition: .3s all;
  transform: rotate(0deg);
}
.accordion__item > .tit-resp-m:after{
  content: "\f35f";
  color: blue_four;
  font-family: IonIcons;
  font-size: 20px;
  margin-top:-4px;
  display:inline-block;
  transition: .3s all;
  transform: rotate(0deg);
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
}

.accordion__item .accordion__item .accordion-header {
  color: black;
}

@media screen and (max-width: 1000px) {
  .accordion {
    width: 100%;
  }
}
